<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/1.1.WRAPPER2/src/main/java/dex/coap/TestCoapServer.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dex.coap.TestCoapServer"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="1.1.WRAPPER2"/>
</launchConfiguration>
